{
  "openapi": "3.0.3",
  "info": {
    "title": "Jitsu API",
    "version": "1.0.0",
    "description": "Jitsu is an open-source data pipeline platform. This API lets you manage workspace configuration objects (destinations, streams, functions, services, etc.) and access workspace metrics. See https://docs.jitsu.com/api for guides.\n\n## Authentication\n\nUse a bearer token in the format `<keyId>:<secret>`. Generate API keys in the Jitsu console under **User Settings → API Keys**.\n\n## Finding your workspace ID\n\nMost endpoints require a `workspaceId` path parameter. You can find it in the URL of any workspace page in the Jitsu console — for example `https://use.jitsu.com/<workspaceId>/settings`. You can also list all workspaces available to your user with `GET /api/workspace`."
  },
  "servers": [
    {
      "url": "https://use.jitsu.com",
      "description": "Jitsu Cloud"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Destinations",
      "description": "A **destination** is a target system Jitsu sends events to — a data warehouse (Postgres, ClickHouse, BigQuery, Snowflake, Redshift), object storage (S3, GCS), or a downstream service.\n\n[Learn more about destinations](https://docs.jitsu.com/core-concepts/destinations).",
      "externalDocs": {
        "url": "https://docs.jitsu.com/core-concepts/destinations",
        "description": "Destinations in Jitsu"
      }
    },
    {
      "name": "Streams",
      "description": "A **stream** is an incoming-events endpoint (formerly called a *source*). Each stream has its own write keys and the list of domains allowed to send events.\n\n[Learn more about streams](https://docs.jitsu.com/core-concepts/streams).",
      "externalDocs": {
        "url": "https://docs.jitsu.com/core-concepts/streams",
        "description": "Streams in Jitsu"
      }
    },
    {
      "name": "Functions",
      "description": "User-defined functions (UDFs) that transform, filter, or enrich events as they flow through the pipeline. Functions are written in TypeScript and run inside Jitsu's sandbox.\n\n[Learn more about functions](https://docs.jitsu.com/functions).",
      "externalDocs": {
        "url": "https://docs.jitsu.com/functions",
        "description": "Functions in Jitsu"
      }
    },
    {
      "name": "Services",
      "description": "A **service** is an external system polled by a connector (Airbyte protocol) — for example Stripe, HubSpot, or a database. Services produce data on a schedule that's then routed to destinations.\n\n[Learn more about services](https://docs.jitsu.com/core-concepts/services).",
      "externalDocs": {
        "url": "https://docs.jitsu.com/core-concepts/services",
        "description": "Services in Jitsu"
      }
    },
    {
      "name": "Syncs",
      "description": "Endpoints that drive **sync runs** — pulling data from a service into a destination on demand. Use these to fetch a connector's config schema, discover its streams, trigger and monitor runs, and stream task logs.\n\n[Learn more about the Sync API](https://docs.jitsu.com/api/sync).",
      "externalDocs": {
        "url": "https://docs.jitsu.com/api/sync",
        "description": "Sync API in Jitsu docs"
      }
    },
    {
      "name": "Connections",
      "description": "A **connection** wires a stream (or service) to a destination. It controls which data flows where and what optional functions run along the way.\n\n[Learn more about connections](https://docs.jitsu.com/core-concepts/connections).",
      "externalDocs": {
        "url": "https://docs.jitsu.com/core-concepts/connections",
        "description": "Connections in Jitsu"
      }
    },
    {
      "name": "Profile builders",
      "description": "**Profile builders** aggregate event history into per-user profiles using identity stitching. They run on a schedule and emit profiles to a destination.\n\n[Learn more about profile builders](https://docs.jitsu.com/features/identity-stitching).",
      "externalDocs": {
        "url": "https://docs.jitsu.com/features/identity-stitching",
        "description": "Identity stitching in Jitsu"
      }
    },
    {
      "name": "Domains",
      "description": "Custom domains registered in a workspace, used as ingestion endpoints for streams."
    },
    {
      "name": "Notification channels",
      "description": "Subscriptions that deliver workspace alerts (sync failures, batch failures, dead-letter events) to email or Slack."
    },
    {
      "name": "Custom images",
      "description": "Custom connector images registered in the workspace."
    },
    {
      "name": "Metrics",
      "description": "Workspace event volume and ingestion metrics."
    },
    {
      "name": "Workspace",
      "description": "Workspace metadata and settings."
    },
    {
      "name": "Configuration",
      "description": "General configuration endpoints (connectivity tests, etc.)."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key authentication. Use the format `<keyId>:<secret>`. Generate API keys in the Jitsu console under User Settings → API Keys."
      }
    },
    "schemas": {
      "ConfigEntityBase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "nullable": true
          },
          "cloneId": {
            "type": "string"
          }
        },
        "required": ["id", "type", "workspaceId", "name"],
        "description": "Base fields shared by every workspace configuration object.",
        "title": "Config entity base"
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "plaintext": {
            "type": "string",
            "nullable": true
          },
          "hash": {
            "type": "string",
            "nullable": true
          },
          "hint": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          },
          "lastUsed": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "nullable": true
          },
          "mcpClientName": {
            "type": "string",
            "nullable": true
          }
        },
        "required": ["id"],
        "description": "An API key associated with a stream. Use the `plaintext` field on creation; afterwards only `hash`/`hint` are returned.",
        "title": "API key"
      },
      "StreamConfig": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "nullable": true
          },
          "cloneId": {
            "type": "string"
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "authorizedJavaScriptDomains": {
            "type": "string"
          },
          "publicKeys": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "plaintext": {
                  "type": "string",
                  "nullable": true
                },
                "hash": {
                  "type": "string",
                  "nullable": true
                },
                "hint": {
                  "type": "string",
                  "nullable": true
                },
                "createdAt": {
                  "type": "string",
                  "nullable": true
                },
                "lastUsed": {
                  "type": "string",
                  "nullable": true
                },
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "nullable": true
                },
                "name": {
                  "type": "string",
                  "nullable": true
                },
                "expiresAt": {
                  "type": "string",
                  "nullable": true
                },
                "mcpClientName": {
                  "type": "string",
                  "nullable": true
                }
              },
              "required": ["id"]
            }
          },
          "privateKeys": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "plaintext": {
                  "type": "string",
                  "nullable": true
                },
                "hash": {
                  "type": "string",
                  "nullable": true
                },
                "hint": {
                  "type": "string",
                  "nullable": true
                },
                "createdAt": {
                  "type": "string",
                  "nullable": true
                },
                "lastUsed": {
                  "type": "string",
                  "nullable": true
                },
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "nullable": true
                },
                "name": {
                  "type": "string",
                  "nullable": true
                },
                "expiresAt": {
                  "type": "string",
                  "nullable": true
                },
                "mcpClientName": {
                  "type": "string",
                  "nullable": true
                }
              },
              "required": ["id"]
            }
          },
          "strict": {
            "type": "boolean"
          },
          "shard": {
            "type": "number"
          },
          "deduplicateWindowMs": {
            "type": "number"
          }
        },
        "required": ["id", "type", "workspaceId", "name"],
        "description": "An incoming-events stream (formerly known as a source). Holds public/private write keys and the domains allowed to send events.",
        "title": "Stream"
      },
      "DestinationConfig": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "nullable": true
          },
          "cloneId": {
            "type": "string"
          },
          "destinationType": {
            "type": "string"
          },
          "provisioned": {
            "type": "boolean"
          },
          "testConnectionError": {
            "type": "string"
          }
        },
        "required": ["id", "type", "workspaceId", "name", "destinationType"],
        "description": "Base shape shared by every destination type. Concrete subtypes (DestinationPostgres, DestinationClickhouse, etc.) extend this with type-specific credentials.",
        "title": "Destination (base)"
      },
      "FunctionConfig": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "nullable": true
          },
          "cloneId": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "draft": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": ["profile", "event"]
          },
          "description": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "origin": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        },
        "required": ["id", "type", "workspaceId", "name", "code"],
        "description": "A user-defined function (UDF). `code` is the published version; `draft` is the in-progress edit.",
        "title": "Function"
      },
      "ServiceConfig": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "nullable": true
          },
          "cloneId": {
            "type": "string"
          },
          "protocol": {
            "type": "string",
            "enum": ["airbyte"],
            "default": "airbyte"
          },
          "authorized": {
            "type": "boolean"
          },
          "package": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "credentials": {
            "type": "object",
            "properties": {}
          },
          "testConnectionError": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "workspaceId",
          "name",
          "package",
          "version",
          "credentials"
        ],
        "description": "An external service polled by a connector (Airbyte protocol). The `package` and `version` reference a connector image.",
        "title": "Service (connector)"
      },
      "WorkspaceDomain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "nullable": true
          },
          "cloneId": {
            "type": "string"
          }
        },
        "required": ["id", "type", "workspaceId", "name"],
        "description": "A custom domain registered in the workspace (used for ingestion endpoints).",
        "title": "Workspace domain"
      },
      "NotificationChannel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "nullable": true
          },
          "cloneId": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["all", "sync", "batch", "dead", "account"]
            },
            "default": ["all"]
          },
          "channel": {
            "type": "string",
            "enum": ["email", "slack"],
            "default": "slack"
          },
          "slackWebhookUrl": {
            "type": "string"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "recurringAlertsPeriodHours": {
            "type": "number",
            "maximum": 720,
            "minimum": 0,
            "default": 168
          },
          "summarizeBatchNotificationsByTable": {
            "type": "boolean",
            "default": true
          }
        },
        "required": ["id", "type", "workspaceId", "name"],
        "description": "Subscription that delivers workspace alerts (sync failures, batch failures, dead-letter events) to email or Slack.",
        "title": "Notification channel"
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "featuresEnabled": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "createdAt",
          "updatedAt",
          "name",
          "deleted",
          "featuresEnabled"
        ],
        "description": "A Jitsu workspace. Workspaces own all configuration objects (streams, destinations, functions, etc.). The workspace `id` is the value used as the `workspaceId` path parameter on most other endpoints.",
        "title": "Workspace"
      },
      "WorkspaceListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "featuresEnabled": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "lastUsed": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the current user accessed this workspace"
          },
          "entities": {
            "type": "number",
            "description": "Number of configuration objects in the workspace (admin-only)"
          }
        },
        "required": ["id", "createdAt", "updatedAt", "name", "featuresEnabled"],
        "description": "A workspace as returned by the list endpoint, with extra per-user metadata.",
        "title": "Workspace (list item)"
      },
      "DestinationTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["tag"]
              },
              "code": {
                "type": "string",
                "description": "Code to insert into site page in <code>html</code> or <code>javascript</code> format"
              }
            },
            "required": ["code"]
          }
        ],
        "description": "Inserts any html or javascript into your page. Use this to add any third party tracking code as Google Analytics, Facebook Pixel, Twitter Pixel, etc.",
        "title": "Tag"
      },
      "DestinationGa4Tag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["ga4-tag"]
              },
              "measurementIds": {
                "type": "string",
                "description": "Measurement ID::Measurement ID of your Google Analytics 4 properties. <a href='https://support.google.com/analytics/answer/9539598?hl=en' target='_blank' rel='noreferrer noopener'>How to find</a>"
              },
              "autoPageView": {
                "type": "boolean",
                "default": false,
                "description": "Rely on <a href='https://support.google.com/analytics/answer/9216061#page_view' target='_blank' rel='noopener noreferer'>Enhanced event measurement</a> to track page views. Jitsu <code>page</code> event will be ignored."
              }
            },
            "required": ["measurementIds"]
          }
        ],
        "description": "Tracks users in Google Analytics with client side code snippet. ",
        "title": "Google Analytics 4 (Device Mode)"
      },
      "DestinationGtm": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["gtm"]
              },
              "containerId": {
                "type": "string",
                "description": "The Container ID uniquely identifies the GTM Container."
              },
              "dataLayerName": {
                "type": "string",
                "default": "dataLayer",
                "description": "The name of the data layer variable."
              },
              "loadGtm": {
                "type": "boolean",
                "default": true,
                "description": "Load GTM::Whether Jitsu should load the Google Tag Manager script. Disable this if you load GTM yourself (e.g. on page load) so tags are ready before navigation — Jitsu will only push events to the data layer."
              },
              "resetDataLayer": {
                "type": "boolean",
                "default": true,
                "description": "Reset Data Layer::Clear the data Jitsu pushed after each event so values don't leak between events. GTM merges every push into a single persistent data model, so without resetting, properties from one event (event properties, traits, user data, etc.) stay set and can be picked up by tags firing on later, unrelated events. Recommended. Disable only if you intentionally rely on values persisting across events, or if another system already manages clearing the data layer."
              }
            },
            "required": ["containerId"]
          }
        ],
        "description": "Installs Google Tag Manager client code and sends events to Google Tag Manager.",
        "title": "Google Tag Manager"
      },
      "DestinationLogrocket": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["logrocket"]
              },
              "appId": {
                "type": "string",
                "description": "Log Rocket App ID. Go to Settings » Project Setup » General Settings to find it"
              }
            },
            "required": ["appId"]
          }
        ],
        "description": "Log Rocket is a session replay tool that helps you understand how users interact with your app.",
        "title": "Log Rocket"
      },
      "DestinationClarity": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["clarity"]
              },
              "projectId": {
                "type": "string",
                "description": "Project ID::Your Clarity Project ID. Open your Clarity project » Settings » Overview to find it. It also serves as the API key. Only used when Jitsu loads the Clarity tag."
              },
              "loadClarity": {
                "type": "boolean",
                "default": true,
                "description": "Load Clarity::Whether Jitsu should load the Microsoft Clarity tag. Disable this if you already load Clarity yourself (e.g. via your own snippet or a tag manager) — Jitsu will only forward events to the existing Clarity instance and the Project ID is ignored."
              },
              "cookieConsent": {
                "type": "boolean",
                "default": false,
                "description": "Cookie consent::Call <code>clarity('consent')</code> after the tag loads. Enable this if you rely on Clarity's cookie consent gate."
              },
              "trackProperties": {
                "type": "string",
                "enum": ["tags", "ignore"],
                "default": "tags",
                "description": "Track event properties::Clarity custom events carry only a name. Choose <code>tags</code> to also forward <code>track</code> properties as filterable Clarity custom tags, or <code>ignore</code> to send the event name only."
              }
            },
            "required": ["projectId"]
          }
        ],
        "description": "Microsoft Clarity is a free heatmap and session-recording tool. Jitsu attaches user identity, tags and custom events to Clarity sessions with a client-side snippet.",
        "title": "Microsoft Clarity"
      },
      "DestinationHotjar": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["hotjar"]
              },
              "siteId": {
                "type": "string",
                "description": "Site ID::Your Hotjar Site ID (the numeric <code>hjid</code>). Find it in Hotjar » Settings » Sites & Organizations, or in your tracking-code snippet. Only used when Jitsu loads the Hotjar tag."
              },
              "loadHotjar": {
                "type": "boolean",
                "default": true,
                "description": "Load Hotjar::Whether Jitsu should load the Hotjar tag. Disable this if you already load Hotjar yourself (e.g. via your own snippet or a tag manager) — Jitsu will only forward events to the existing Hotjar instance and the Site ID is ignored."
              },
              "spaPageViews": {
                "type": "boolean",
                "default": false,
                "description": "SPA page views::Emit a Hotjar virtual page view (<code>hj('stateChange', path)</code>) on every Jitsu <code>page</code> event. Enable this for single-page apps. Leave off to rely on Hotjar's built-in page detection and avoid double-counting."
              },
              "trackProperties": {
                "type": "string",
                "enum": ["ignore", "attributes"],
                "default": "ignore",
                "description": "Track event properties::Hotjar events carry only a name and have no per-event property API. Choose <code>attributes</code> to merge <code>track</code> properties into the identified user's record (requires a known user), or <code>ignore</code> to send the event name only."
              }
            },
            "required": ["siteId"]
          }
        ],
        "description": "Hotjar is a heatmap, session-recording and survey tool. Jitsu attaches user attributes and custom events to Hotjar with a client-side snippet.",
        "title": "Hotjar"
      },
      "DestinationClickhouse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["clickhouse"]
              },
              "protocol": {
                "type": "string",
                "enum": ["http", "https", "clickhouse", "clickhouse-secure"],
                "default": "clickhouse-secure",
                "description": "Protocol used for ClickHouse connection: <code>http</code>, <code>https</code>, <code>clickhouse</code>, <code>clickhouse-secure</code>"
              },
              "hosts": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of clickhouse servers as <code>host:port</code>. If port is not specified, default port for respective protocol will be used: <code>http->8123</code>, <code>https->8443</code>, <code>clickhouse->9000</code>, <code>clickhouse-secure->9440</code>"
              },
              "username": {
                "type": "string",
                "default": "default",
                "description": "Username for ClickHouse connection"
              },
              "password": {
                "type": "string",
                "description": "Password for ClickHouse connection"
              },
              "cluster": {
                "type": "string",
                "description": "Name of cluster to use.<br/>For <b>ClickHouse Cloud</b> or single-node setups, leave this field empty."
              },
              "database": {
                "type": "string",
                "default": "default",
                "description": "Name of the database to use"
              },
              "parameters": {
                "type": "object",
                "properties": {},
                "additionalProperties": {
                  "type": "string",
                  "default": ""
                },
                "description": "Additional parameters for ClickHouse driver. See <a href='https://clickhouse.com/docs/en/integrations/go#connection-settings-1' rel='noreferrer noopener' target='_blank'>Clickhouse documentation</a>"
              },
              "loadAsJson": {
                "type": "boolean",
                "default": false,
                "description": "Use JSONEachRow format::Load data in the <a href='https://clickhouse.com/docs/en/interfaces/formats' rel='noreferrer noopener' target='_blank'>JSONEachRow</a> format. This method offers better performance but may not work correctly on older ClickHouse versions."
              }
            },
            "required": ["hosts", "password"]
          }
        ],
        "description": "ClickHouse is an open-source column-oriented database management system specialized for online analytical processing of queries (OLAP).",
        "title": "Clickhouse"
      },
      "DestinationPostgres": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["postgres"]
              },
              "authenticationMethod": {
                "type": "string",
                "enum": ["password", "google-psc"],
                "default": "password",
                "description": "Authentication Method::Standard username/password or <a target='_blank' rel='noreferrer noopener' href='https://docs.jitsu.com/destinations/warehouse/postgres#advanced-private-service-connect-for-google-cloud-sql'>Private Service Connect</a> for Google-managed postgres instances only."
              },
              "instanceConnectionName": {
                "type": "string",
                "description": "Instance Connection Name::Google SQL instance Connection Name in the format <code>project-name:region:instance-name</code>. <a target='_blank' rel='noreferrer noopener' href='https://docs.jitsu.com/destinations/warehouse/postgres#provide-jitsu-with-cloud-sql-instance-details'>How to obtain</a>."
              },
              "host": {
                "type": "string",
                "description": "Postgres host"
              },
              "port": {
                "type": "number",
                "default": 5432,
                "description": "Postgres port"
              },
              "sslMode": {
                "type": "string",
                "enum": ["disable", "require", "verify-ca", "verify-full"],
                "default": "require",
                "description": "SSL Mode::SSL mode for Postgres connection: <code>disable</code>,<code>require</code>,<code>verify-ca</code>,<code>verify-full</code>"
              },
              "sslServerCA": {
                "type": "string",
                "description": "SSL Server CA::"
              },
              "sslClientCert": {
                "type": "string",
                "description": "SSL Client Cert::"
              },
              "sslClientKey": {
                "type": "string",
                "description": "SSL Client Key::"
              },
              "database": {
                "type": "string",
                "description": "Postgres database name"
              },
              "username": {
                "type": "string",
                "description": "Postgres username"
              },
              "password": {
                "type": "string",
                "description": "Postgres password"
              },
              "defaultSchema": {
                "type": "string",
                "default": "public",
                "description": "Schema::Postgres schema"
              }
            },
            "required": ["database"]
          }
        ],
        "description": "Postgres is a powerful, open source object-relational database system.",
        "title": "Postgres"
      },
      "DestinationBigquery": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["bigquery"]
              },
              "project": {
                "type": "string",
                "description": "Project ID::Google Cloud Project ID. <a target='_blank' rel='noreferrer noopener' href='https://support.google.com/googleapi/answer/7014113?hl=en'>Locate Project ID</a>"
              },
              "bqDataset": {
                "type": "string",
                "description": "Dataset::BigQuery <a target='_blank' rel='noreferrer noopener' href='https://cloud.google.com/bigquery/docs/datasets-intro'>Dataset</a>"
              },
              "keyFile": {
                "type": "string",
                "description": "Access Key::Google Service Account JSON for BigQuery. <a target='_blank' rel='noreferrer noopener' href='https://jitsu.com/docs/configuration/google-authorization#service-account-configuration'>Read more about Google Authorization</a>"
              }
            },
            "required": ["project", "bqDataset", "keyFile"]
          }
        ],
        "description": "BigQuery is a cloud-based SQL data warehouse service developed by Google.",
        "title": "BigQuery"
      },
      "DestinationSnowflake": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["snowflake"]
              },
              "authenticationMethod": {
                "type": "string",
                "enum": ["key-pair", "password"],
                "default": "key-pair",
                "description": "Authentication Method::Snowflake authentication method: <a target='_blank' rel='noopener noreferrer' href='https://docs.snowflake.com/en/user-guide/key-pair-auth'>Key-pair</a> or username/password"
              },
              "username": {
                "type": "string",
                "description": "Snowflake username"
              },
              "password": {
                "type": "string",
                "description": "Snowflake password"
              },
              "privateKey": {
                "type": "string",
                "description": "Private Key::Snowflake private key. <a target='_blank' rel='noopener noreferrer' href='https://docs.snowflake.com/en/user-guide/key-pair-auth'>Generate the private key</a>"
              },
              "privateKeyPassphrase": {
                "type": "string"
              },
              "account": {
                "type": "string",
                "description": "Snowflake account name"
              },
              "warehouse": {
                "type": "string",
                "description": "Snowflake warehouse name"
              },
              "database": {
                "type": "string",
                "description": "Snowflake database name"
              },
              "defaultSchema": {
                "type": "string",
                "default": "PUBLIC",
                "description": "Schema::Snowflake schema"
              },
              "parameters": {
                "type": "object",
                "properties": {},
                "additionalProperties": {
                  "type": "string",
                  "default": ""
                },
                "description": "Additional Snowflake connection parameters"
              }
            },
            "required": ["account", "warehouse", "database"]
          }
        ],
        "description": "Snowflake is an independent a cloud data warehouse with compute-based pricing.",
        "title": "Snowflake"
      },
      "DestinationRedshift": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["redshift"]
              },
              "authenticationMethod": {
                "type": "string",
                "enum": ["iam", "password"],
                "default": "password",
                "description": "Authentication Method::Redshift authentication method: <a target='_blank' rel='noopener noreferrer' href='https://docs.jitsu.com/destinations/warehouse/redshift#advanced-iam-role-for-jitsu'>IAM Role based</a> or database username/password"
              },
              "serverless": {
                "type": "boolean",
                "default": false,
                "description": "Redshift Serverless::"
              },
              "region": {
                "type": "string",
                "enum": [
                  "us-west-1",
                  "us-west-2",
                  "us-east-2",
                  "us-east-1",
                  "ap-south-1",
                  "ap-northeast-3",
                  "ap-northeast-2",
                  "ap-southeast-1",
                  "ap-southeast-2",
                  "ap-northeast-1",
                  "ca-central-1",
                  "cn-north-1",
                  "cn-northwest-1",
                  "eu-central-1",
                  "eu-west-1",
                  "eu-west-2",
                  "eu-south-1",
                  "eu-west-3",
                  "eu-north-1",
                  "me-south-1",
                  "sa-east-1",
                  "us-gov-east-1",
                  "us-gov-west-1"
                ],
                "description": "Region::Aws Region"
              },
              "clusterIdentifier": {
                "type": "string",
                "description": "Cluster Identifier::Redshift cluster identifier"
              },
              "workgroupName": {
                "type": "string",
                "description": "Workgroup name::Redshift Serverless workgroup name"
              },
              "roleARN": {
                "type": "string",
                "description": "Role ARN::IAM role ARN. <a target='_blank' rel='noopener noreferrer' href='https://docs.jitsu.com/destinations/warehouse/redshift#advanced-iam-role-for-jitsu'>How to create</a>"
              },
              "externalID": {
                "type": "string",
                "description": "External ID::IAM external ID"
              },
              "host": {
                "type": "string",
                "description": "Redshift host"
              },
              "database": {
                "type": "string",
                "description": "Redshift database name"
              },
              "defaultSchema": {
                "type": "string",
                "default": "PUBLIC",
                "description": "Schema::Redshift schema"
              },
              "username": {
                "type": "string",
                "description": "Redshift username"
              },
              "password": {
                "type": "string",
                "description": "Redshift password"
              },
              "bucket": {
                "type": "string",
                "description": "S3 Bucket Name::S3 Bucket Name"
              },
              "accessKeyId": {
                "type": "string",
                "description": "S3 Access Key Id::S3 Access Key Id. <a target='_blank' rel='noreferrer noopener' href='https://docs.aws.amazon.com/IAM/latest/UserGuide/security-creds.html#access-keys-and-secret-access-keys'>Create access key</a>"
              },
              "secretAccessKey": {
                "type": "string",
                "description": "S3 Secret Access Key::S3 Secret Access Key"
              }
            },
            "required": ["region", "database", "bucket"]
          }
        ],
        "description": "Amazon Redshift is a cloud data warehouse that is optimized for the analytical workloads of business intelligence (BI) and data warehousing (DWH). Jitsu supports both Serverless and Classic Redshift",
        "title": "Redshift"
      },
      "DestinationDuckdb": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["duckdb"]
              },
              "database": {
                "type": "string",
                "description": "MotherDuck database name"
              },
              "motherduckToken": {
                "type": "string",
                "description": "MotherDuck token::MotherDuck token can be obtained in the MotherDuck's <a target='_blank' rel='noopener noreferrer' href='https://app.motherduck.com/settings/tokens'>Settings -> Access Tokens</a> section"
              },
              "defaultSchema": {
                "type": "string",
                "default": "main",
                "description": "Schema::Database schema"
              }
            },
            "required": ["database", "motherduckToken"]
          }
        ],
        "description": "DuckDB-powered cloud data warehouse scaling to terabytes with ease.",
        "title": "MotherDuck (DuckDB)"
      },
      "DestinationMysql": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["mysql"]
              },
              "host": {
                "type": "string",
                "description": "Mysql host"
              },
              "port": {
                "type": "number",
                "default": 3306,
                "description": "Mysql port"
              },
              "database": {
                "type": "string",
                "description": "Mysql database name"
              },
              "username": {
                "type": "string",
                "description": "Mysql username"
              },
              "password": {
                "type": "string",
                "description": "Mysql password"
              },
              "parameters": {
                "type": "object",
                "properties": {
                  "tls": {
                    "type": "string",
                    "enum": ["true", "false", "skip-verify", "preferred"]
                  }
                },
                "default": {
                  "tls": "preferred"
                },
                "required": ["tls"],
                "additionalProperties": {
                  "type": "string",
                  "default": ""
                },
                "description": "Additional Mysql connection parameters"
              }
            },
            "required": ["host", "database", "username", "password"]
          }
        ],
        "description": "MySQL is a popular open source object-relational database system.",
        "title": "Mysql"
      },
      "DestinationS3": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["s3"]
              },
              "authenticationMethod": {
                "type": "string",
                "enum": ["iam", "accessKey"],
                "default": "accessKey",
                "description": "Authentication Method::S3 authentication method: <a target='_blank' rel='noopener noreferrer' href='https://docs.jitsu.com/destinations/block-storage/s3#advanced-iam-role-for-jitsu'>IAM Role based</a> or Access Key"
              },
              "region": {
                "type": "string",
                "enum": [
                  "us-west-1",
                  "us-west-2",
                  "us-east-2",
                  "us-east-1",
                  "ap-south-1",
                  "ap-northeast-3",
                  "ap-northeast-2",
                  "ap-southeast-1",
                  "ap-southeast-2",
                  "ap-northeast-1",
                  "ca-central-1",
                  "cn-north-1",
                  "cn-northwest-1",
                  "eu-central-1",
                  "eu-west-1",
                  "eu-west-2",
                  "eu-south-1",
                  "eu-west-3",
                  "eu-north-1",
                  "me-south-1",
                  "sa-east-1",
                  "us-gov-east-1",
                  "us-gov-west-1"
                ],
                "default": "us-west-1",
                "description": "S3 Region::S3 Region"
              },
              "roleARN": {
                "type": "string",
                "description": "Role ARN::IAM role ARN. <a target='_blank' rel='noopener noreferrer' href='https://docs.jitsu.com/destinations/block-storage/s3#advanced-iam-role-for-jitsu'>How to create</a>"
              },
              "externalID": {
                "type": "string",
                "description": "External ID::IAM external ID"
              },
              "accessKeyId": {
                "type": "string",
                "description": "S3 Access Key Id::S3 Access Key Id. <a target='_blank' rel='noreferrer noopener' href='https://docs.aws.amazon.com/IAM/latest/UserGuide/security-creds.html#access-keys-and-secret-access-keys'>Create access key</a>"
              },
              "secretAccessKey": {
                "type": "string",
                "description": "S3 Secret Access Key::S3 Secret Access Key"
              },
              "bucket": {
                "type": "string",
                "description": "S3 Bucket Name::S3 Bucket Name"
              },
              "endpoint": {
                "type": "string",
                "description": "Custom endpoint of S3-compatible server"
              },
              "folder": {
                "type": "string",
                "description": "Folder in the block storage bucket where files will be stored"
              },
              "format": {
                "type": "string",
                "enum": ["ndjson", "ndjson_flat", "csv"],
                "default": "ndjson",
                "description": "Format of the files stored in the block storage: <b>ndjson</b> - Newline Delimited JSON, <b>ndjson_flat</b> - Newline Delimited JSON flattened, <b>csv</b> - CSV"
              },
              "compression": {
                "type": "string",
                "enum": ["gzip", "none"],
                "default": "gzip",
                "description": "Compression mode used for the files stored in the block storage:<br/><b>gzip</b> - files will be compressed and have <code>.gz</code> filename suffix and <code>Content-Type: application/gzip</code><br/><b>none</b> - no compression, <code>Content-Type</code> and file extension will be set according to the format"
              }
            },
            "required": ["bucket"]
          }
        ],
        "description": "S3 is a cloud file storage service by Amazon",
        "title": "Amazon S3"
      },
      "DestinationGcs": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["gcs"]
              },
              "accessKey": {
                "type": "string",
                "description": "Google Access Key::Google Access Key"
              },
              "bucket": {
                "type": "string",
                "description": "GCS Bucket Name::GCS Bucket Name"
              },
              "folder": {
                "type": "string",
                "description": "Folder in the block storage bucket where files will be stored"
              },
              "format": {
                "type": "string",
                "enum": ["ndjson", "ndjson_flat", "csv"],
                "default": "ndjson",
                "description": "Format of the files stored in the block storage: <b>ndjson</b> - Newline Delimited JSON, <b>ndjson_flat</b> - Newline Delimited JSON flattened, <b>csv</b> - CSV"
              },
              "compression": {
                "type": "string",
                "enum": ["gzip", "none"],
                "default": "gzip",
                "description": "Compression mode used for the files stored in the block storage:<br/><b>gzip</b> - files will be compressed and have <code>.gz</code> filename suffix and <code>Content-Type: application/gzip</code><br/><b>none</b> - no compression, <code>Content-Type</code> and file extension will be set according to the format"
              }
            },
            "required": ["accessKey", "bucket"]
          }
        ],
        "description": "Google Cloud Storage is a cloud file storage service by Google",
        "title": "Google Cloud Storage"
      },
      "DestinationMixpanel": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["mixpanel"]
              },
              "dataResidency": {
                "type": "string",
                "enum": ["US", "EU"],
                "default": "US"
              },
              "simplifiedIdMerge": {
                "type": "boolean",
                "default": false,
                "description": "Simplified Identity Merge::Use Mixpanel <a href=\"https://docs.mixpanel.com/docs/tracking-methods/identifying-users\">Simplified Identity Merge</a> feature.<br/>Enable this option if your Mixpanel project has the corresponding <a href=\"https://docs.mixpanel.com/docs/tracking-methods/identifying-users#how-do-i-switch-between-the-simplified-and-original-api\">feature enabled</a>.<br/><b>Using this feature is highly recommended to achieve better quality Identity Merge</b>"
              },
              "projectId": {
                "type": "string",
                "description": "Project id can be found in the <a href=\"https://help.mixpanel.com/hc/en-us/articles/115004490503-Project-Settings\">project settings</a>"
              },
              "projectToken": {
                "type": "string",
                "description": "See <a href=\"https://developer.mixpanel.com/reference/project-token\">how to obtain project secret</a>"
              },
              "serviceAccountUserName": {
                "type": "string",
                "description": "See <a href=\"https://developer.mixpanel.com/reference/service-accounts\">how to create service account</a>"
              },
              "serviceAccountPassword": {
                "type": "string",
                "description": "See <a href=\"https://developer.mixpanel.com/reference/service-accounts\">how to create service account</a>"
              },
              "sendPageEvents": {
                "type": "boolean",
                "default": true,
                "description": "If enabled, all page view events will be sent to Mixpanel."
              },
              "sendIdentifyEvents": {
                "type": "boolean",
                "default": false,
                "description": "If enabled, any identify() call will send an Identify event to Mixpanel in addition to the profile update"
              },
              "enableGroupAnalytics": {
                "type": "boolean",
                "default": false,
                "description": "Mixpanel Group Analytics allows behavioral data analysis at a customized group level. Group Analytics is available as an add-on package to customers on <a href='https://mixpanel.com/pricing/' target='_blank' rel='noreferrer noopener'>Growth and Enterprise plans.</a>"
              },
              "filterBotTraffic": {
                "type": "boolean",
                "default": true,
                "description": "Don't send traffic from known bots to Mixpanel"
              },
              "groupKey": {
                "type": "string",
                "default": "$group_id",
                "description": "Group Key for Mixpanel Group Analytics. Make sure that Group Key in <a href='https://mixpanel.com/report' target='_blank' rel='noreferrer noopener'>Mixpanel project settings</a> matches the provided value."
              },
              "enableAnonymousUserProfiles": {
                "type": "boolean",
                "default": false,
                "description": "If enabled, anonymous users will be tracked in Mixpanel"
              }
            },
            "required": [
              "projectId",
              "projectToken",
              "serviceAccountUserName",
              "serviceAccountPassword"
            ]
          }
        ],
        "description": "Mixpanel is a product analytics platform that provides insights into user behavior.",
        "title": "Mixpanel"
      },
      "DestinationIntercom": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["intercom"]
              },
              "accessToken": {
                "type": "string",
                "description": "Intercom Access Token. You should first create an app in Intercom Developer Hub, and then generate an access token in the app settings. See <a href='https://developers.intercom.com/docs/build-an-integration/getting-started/' target='_blank' rel='noreferrer noopener'>a detailed guide</a>"
              },
              "updateLastSeenOnEveryEvent": {
                "type": "boolean",
                "description": "By default, the last seen property will be updated only on .identify() calls. If enabled, the property will be updated on every event. However, enabling this option may lead to higher API usage."
              }
            },
            "required": ["accessToken"]
          }
        ],
        "description": "Base shape shared by every destination type. Concrete subtypes (DestinationPostgres, DestinationClickhouse, etc.) extend this with type-specific credentials.",
        "title": "Intercom"
      },
      "DestinationFacebookConversions": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["facebook-conversions"]
              },
              "pixelId": {
                "type": "string",
                "description": "Facebook Pixel ID"
              },
              "accessToken": {
                "type": "string",
                "description": "Facebook Access Token"
              },
              "actionSource": {
                "type": "string",
                "enum": [
                  "email",
                  "website",
                  "app",
                  "phone_call",
                  "chat",
                  "physical_store",
                  "system_generated",
                  "other"
                ],
                "default": "website",
                "description": "Action Source"
              },
              "events": {
                "type": "string",
                "default": "",
                "description": "\nList of events to send, delimited by comma. Following <code>page</code>, <code>screen</code>, or any arbitrary event (name of <code>track</code> event). \nSpecial values: <b>empty string</b> - send only <code>track</code> events, <b>*</b> - send all events useful if you want to filter events with Functions \n"
              },
              "phoneFieldName": {
                "type": "string",
                "default": "",
                "description": "Name of the field in the event user traits that contains the phone number. Expected format could be <a href='https://en.wikipedia.org/wiki/E.164' target='_blank' rel='noreferrer noopener'>E.164</a> or international format. If empty, phone number hash will not be sent."
              }
            },
            "required": ["pixelId", "accessToken"]
          }
        ],
        "description": "Facebook Conversion API is a tool for sending events to Facebook Ads Manager.",
        "title": "Facebook Conversions API"
      },
      "DestinationGoogleAds": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["google-ads"]
              },
              "authorized": {
                "type": "boolean",
                "default": false
              },
              "oauthIntegrationId": {
                "type": "string",
                "default": "jitsu-cloud-dst-google-ads"
              },
              "oauthConnectionId": {
                "type": "string"
              },
              "api": {
                "type": "string",
                "enum": ["data-manager", "google-ads"],
                "default": "data-manager",
                "description": "API::Which Google API to send conversions to.<ul><li><b>data-manager</b> — the <a href='https://developers.google.com/data-manager/api' target='_blank' rel='noreferrer noopener'>Data Manager API</a>. Recommended, and the only option for accounts onboarded after June 15, 2026.</li><li><b>google-ads</b> — the legacy <code>UploadClickConversions</code> endpoint of the Google Ads API. Requires an approved developer token, and Google no longer accepts new accounts for it. Pick this only if your account is already allowlisted.</li></ul>"
              },
              "customerId": {
                "type": "string",
                "description": "Customer ID::Your Google Ads account ID — 10 digits, found in the top right of the Google Ads UI. Dashes are optional."
              },
              "loginCustomerId": {
                "type": "string",
                "default": "",
                "description": "Manager (MCC) Customer ID::Set this when a manager account is used to access the account above. Leave empty if you authorized directly with the account."
              },
              "conversionType": {
                "type": "string",
                "enum": ["conversion", "enhancement"],
                "default": "conversion",
                "description": "Conversion Type::What kind of upload this destination performs.<ul><li><b>conversion</b> — report new conversions. Covers offline click conversions (matched on <code>gclid</code>) and <i>Enhanced Conversions for Leads</i> (matched on hashed user data). Requires a conversion action of type <b>Upload from clicks</b>.</li><li><b>enhancement</b> — <i>Enhanced Conversions for Web</i>. Does not create conversions; it attaches hashed user data to conversions your Google tag already recorded on the site, matched by <b>order ID</b>. Requires a conversion action of type <b>Website</b>, and every event must carry an order ID.</li></ul>"
              },
              "conversionActionId": {
                "type": "string",
                "description": "Conversion Action ID::The numeric ID of the Google Ads conversion action that receives events with no per-event override. Find it in the URL when you open the conversion action under <b>Goals » Conversions » Summary</b>."
              },
              "conversionActions": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Per-event Conversion Actions::Route individual events to different conversion actions. One <code>eventName=conversionActionId</code> per line, e.g. <code>Order Completed=111222333</code>. Events not listed here use the Conversion Action ID above."
              },
              "events": {
                "type": "string",
                "default": "",
                "description": "\nList of events to send, delimited by comma. Following <code>page</code>, <code>screen</code>, or any arbitrary event (name of <code>track</code> event). \nSpecial values: <b>empty string</b> - send only <code>track</code> events, <b>*</b> - send all events useful if you want to filter events with Functions \n"
              },
              "eventSource": {
                "type": "string",
                "enum": ["WEB", "APP", "IN_STORE", "PHONE", "MESSAGE", "OTHER"],
                "default": "WEB",
                "description": "Event Source::Where the conversion happened. The legacy Google Ads API only understands <code>WEB</code> and <code>APP</code>; other values are omitted from that payload."
              },
              "phoneFieldName": {
                "type": "string",
                "default": "",
                "description": "Phone Trait Name::Name of the field in the event user traits holding the phone number. It is normalized to <a href='https://en.wikipedia.org/wiki/E.164' target='_blank' rel='noreferrer noopener'>E.164</a> and hashed before sending. If empty, no phone number is sent."
              },
              "defaultPhoneCountryCode": {
                "type": "string",
                "default": "",
                "description": "Default Phone Country Code::Prepended to phone numbers that don't already start with <code>+</code>, e.g. <code>+1</code>. Google rejects phone numbers that aren't in E.164 format, so set this if your traits store local numbers."
              },
              "developerToken": {
                "type": "string",
                "description": "Developer Token::Used by the legacy Google Ads API only, and normally left empty — a developer token identifies the application calling the API rather than your advertiser account, so Jitsu supplies one. Fill this in only if you have your own token and want it used instead. You can request one under <b>API Center</b> in your Google Ads manager account."
              },
              "storeClickIds": {
                "type": "boolean",
                "default": true,
                "description": "Remember Click IDs::Jitsu watches every event on this connection for a <code>gclid</code>/<code>gbraid</code>/<code>wbraid</code> and remembers it against the anonymous user for 90 days, so a conversion that fires later still gets attributed. Turn this off to only use click ids present on the converting event itself."
              },
              "validateOnly": {
                "type": "boolean",
                "default": false,
                "description": "Validate Only::Send requests with Google's <code>validateOnly</code> flag. Google checks the payload and reports errors but records nothing. Useful to verify a new setup without polluting conversion data."
              }
            },
            "required": ["customerId", "conversionActionId"]
          }
        ],
        "description": "Base shape shared by every destination type. Concrete subtypes (DestinationPostgres, DestinationClickhouse, etc.) extend this with type-specific credentials.",
        "title": "Google Ads"
      },
      "DestinationJune": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["june"]
              },
              "apiKey": {
                "type": "string",
                "description": "API Key::To get or create an API Key, go to workspace's \"Settings & integrations\" > Integrations > June SDK"
              },
              "enableAnonymousUserProfiles": {
                "type": "boolean",
                "default": false,
                "description": "If enabled, anonymous users will be tracked in June"
              }
            },
            "required": ["apiKey"]
          }
        ],
        "description": "June.so is a product analytics platform that provides insights into user behavior.",
        "title": "June.so"
      },
      "DestinationResend": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["resend"]
              },
              "apiKey": {
                "type": "string",
                "description": "API Key::Create an API key in the Resend dashboard under \"API Keys\". It needs write access to Contacts. The key starts with \"re_\"."
              },
              "audiences": {
                "type": "string",
                "description": "Audiences::Comma-separated list of Resend audience names to add identified contacts to (e.g. <code>Customers, Beta</code>). Names are resolved automatically — any that don't exist yet are created. Leave empty to add contacts without an audience. Can be overridden per event with a <code>resendAudiences</code> trait. Membership is reconciled to match the list: audiences the connector previously added that are no longer listed get removed."
              },
              "resolveEmailFromUserId": {
                "type": "boolean",
                "default": false,
                "description": "Resolve email from userId::Resend identifies contacts by email only — it has no notion of a userId. When enabled, every <code>identify()</code> caches a userId → email mapping so later <code>track</code>/<code>page</code>/<code>group</code> events that carry only a userId can still update the matching contact. When disabled (default), only events that carry an email directly are matched; events with just a userId are skipped."
              },
              "apiBase": {
                "type": "string",
                "description": "API Base URL::Override the Resend API base URL (defaults to https://api.resend.com). For testing or proxying."
              }
            },
            "required": ["apiKey"]
          }
        ],
        "description": "Base shape shared by every destination type. Concrete subtypes (DestinationPostgres, DestinationClickhouse, etc.) extend this with type-specific credentials.",
        "title": "Resend"
      },
      "DestinationSendgrid": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["sendgrid"]
              },
              "apiKey": {
                "type": "string",
                "description": "API Key::Create an API key in the SendGrid dashboard under Settings > API Keys. It needs \"Marketing\" permissions (Read/Write access to Marketing Contacts)."
              },
              "lists": {
                "type": "string",
                "description": "Lists::Comma-separated list of SendGrid marketing list names to add identified contacts to (e.g. <code>Customers, Beta</code>). Names are resolved automatically — any that don't exist yet are created. Leave empty to add contacts without a list. Can be overridden per event with a <code>sendgridLists</code> trait. Membership is reconciled to match the list: lists the connector previously added that are no longer listed get removed."
              },
              "region": {
                "type": "string",
                "enum": ["Global", "EU"],
                "default": "Global",
                "description": "Data Residency::Select \"EU\" if your SendGrid account uses EU data residency (requests go to api.eu.sendgrid.com). Otherwise leave as \"Global\" (api.sendgrid.com)."
              },
              "resolveEmailFromUserId": {
                "type": "boolean",
                "default": false,
                "description": "Resolve email from userId::SendGrid identifies contacts by email. When enabled, every <code>identify()</code> caches a userId → email mapping so later <code>track</code>/<code>page</code>/<code>group</code> events that carry only a userId can still update the matching contact. When disabled (default), only events that carry an email directly are matched."
              },
              "apiBase": {
                "type": "string",
                "description": "API Base URL::Override the SendGrid API base URL (defaults to the Global/EU host from Data Residency). For testing or proxying."
              }
            },
            "required": ["apiKey"]
          }
        ],
        "description": "Base shape shared by every destination type. Concrete subtypes (DestinationPostgres, DestinationClickhouse, etc.) extend this with type-specific credentials.",
        "title": "SendGrid"
      },
      "DestinationBraze": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["braze"]
              },
              "apiKey": {
                "type": "string",
                "description": "API Key::Created under Developer Console in the Braze Dashboard."
              },
              "endpoint": {
                "type": "string",
                "enum": [
                  "US-01 : dashboard-01.braze.com",
                  "US-02 : dashboard-02.braze.com",
                  "US-03 : dashboard-03.braze.com",
                  "US-04 : dashboard-04.braze.com",
                  "US-05 : dashboard-05.braze.com",
                  "US-06 : dashboard-06.braze.com",
                  "US-07 : dashboard-07.braze.com",
                  "US-08 : dashboard-08.braze.com",
                  "US-09 : dashboard-09.braze.com",
                  "EU-01 : dashboard-01.braze.eu",
                  "EU-02 : dashboard-02.braze.eu"
                ],
                "default": "US-01 : dashboard-01.braze.com",
                "description": "Your Braze REST endpoint. <a target='_blank' rel='noopener noreferrer' href='https://www.braze.com/docs/api/basics/#endpoints'>More details</a>"
              },
              "appId": {
                "type": "string",
                "description": "App ID::The app identifier used to reference specific Apps in requests made to the Braze API. Created under Developer Console in the Braze Dashboard."
              },
              "useJitsuAnonymousIdAlias": {
                "type": "boolean",
                "default": false,
                "description": "Use Anonymous Id Alias::Use Jitsu <code>anonymousId</code> as an alias for identified and anonymous profiles. Enables support for anonymous (alias-only) profiles."
              },
              "sendPageEvents": {
                "type": "boolean",
                "default": false,
                "description": "Send <code>page</code> and <code>screen</code> events as Braze Custom Events"
              }
            },
            "required": ["apiKey"]
          }
        ],
        "description": "Braze is a customer engagement platform used by businesses for multichannel marketing.",
        "title": "Braze"
      },
      "DestinationSalesforce": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["salesforce"]
              },
              "authorized": {
                "type": "boolean",
                "default": false
              },
              "oauthIntegrationId": {
                "type": "string",
                "default": "jitsu-cloud-dst-salesforce"
              },
              "oauthConnectionId": {
                "type": "string"
              },
              "isSandbox": {
                "type": "boolean",
                "default": false,
                "description": "Sandbox Instance::You can log in to a sandbox by switching the login form to use Custom Domain, and providing the login URL of your sandbox, e.g.: <b>MyDomainName--SandboxName.sandbox.my.salesforce.com</b><br/><br/>Alternatively, you can use the general login form by appending the sandbox name to your Salesforce username. For example, if the production username is <b>user@example.com</b> and the sandbox is named <b>sndbx</b>, the sandbox username would be: <b>user@example.com.sndbx</b><br/><br/>If you are already authenticated, please <b>Re-Sign In</b> with your sandbox username."
              }
            }
          }
        ],
        "description": "Salesforce is the world's leading customer relationship management technology.",
        "title": "Salesforce"
      },
      "DestinationMongodb": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["mongodb"]
              },
              "url": {
                "type": "string"
              },
              "protocol": {
                "type": "string",
                "enum": ["mongodb", "mongodb+srv"],
                "default": "mongodb",
                "description": "MongoDB protocol. <code>mongodb</code> or <code>mongodb+srv</code>. For Atlas use <code>mongodb+srv</code>"
              },
              "hosts": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "MongoDB hosts with port (e.g. <code>localhost:27017</code>). One on each line"
              },
              "username": {
                "type": "string",
                "description": "MongoDB username"
              },
              "password": {
                "type": "string",
                "description": "MongoDB password"
              },
              "database": {
                "type": "string",
                "description": "MongoDB database"
              },
              "collection": {
                "type": "string",
                "description": "MongoDB collection"
              },
              "options": {
                "type": "object",
                "properties": {},
                "additionalProperties": {
                  "type": "string",
                  "default": ""
                },
                "description": "Additional MongoDB connection options."
              }
            },
            "required": ["username", "password", "database", "collection"]
          }
        ],
        "description": "MongoDB is a cross-platform NoSQL document-oriented database. Jitsu supports both self-hosted Mongo and MongoDB Atlas.",
        "title": "MongoDB"
      },
      "DestinationGa4": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["ga4"]
              },
              "apiSecret": {
                "type": "string",
                "description": "An <code>API SECRET</code> generated in the Google Analytics UI. To create a new secret, navigate to:<br/><b>Admin > Data Streams > choose your stream > Measurement Protocol API Secrets > Create</b>"
              },
              "measurementId": {
                "type": "string",
                "description": "The measurement ID associated with a stream.<br/><b>For Web:</b> found in the Google Analytics UI under: <b>Admin > Data Streams > choose your stream > Measurement ID</b><br/><b>For Apps</b>: the Firebase App ID, found in the Firebase console under: <b>Project Settings > General > Your Apps > App ID</b>"
              },
              "events": {
                "type": "string",
                "default": "",
                "description": "\nList of events to send, delimited by comma. Following <code>page</code>, <code>screen</code>, or any arbitrary event (name of <code>track</code> event). \nSpecial values: <b>empty string</b> - send only <code>track</code> events, <b>*</b> - send all events useful if you want to filter events with Functions \n"
              }
            },
            "required": ["apiSecret", "measurementId"]
          }
        ],
        "description": "Google Analytics 4 is a service offered by Google that reports website traffic data and marketing trends.",
        "title": "Google Analytics 4 (GA4 Measurement Protocol)"
      },
      "DestinationPosthog": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["posthog"]
              },
              "key": {
                "type": "string",
                "description": "Project API Key::Posthog Project API Key. Can be found in <a target='_blank' rel='noopener noreferrer' href='https://app.posthog.com/project/settings'>Project Settings</a>"
              },
              "host": {
                "type": "string",
                "default": "https://app.posthog.com",
                "description": "Posthog host"
              },
              "enableGroupAnalytics": {
                "type": "boolean",
                "default": false,
                "description": "Group analytics is a powerful feature in PostHog that allows you to perform analytics on entities other than single users. Group Analytics is not available on the open-source or free cloud plan. <a href='https://posthog.com/pricing' target='_blank' rel='noreferrer noopener'>Learn more.</a>"
              },
              "groupType": {
                "type": "string",
                "default": "company",
                "description": "Group type is the abstract type of whatever our group represents (e.g. company, team, chat, post, etc.). <a href='https://posthog.com/docs/getting-started/group-analytics#groups-vs-group-types' target='_blank' rel='noreferrer noopener'>Groups vs. group types.</a>"
              },
              "sendAnonymousEvents": {
                "type": "boolean",
                "default": false,
                "description": "Send events from anonymous users. If disabled, only events from identified users will be tracked."
              },
              "enableAnonymousUserProfiles": {
                "type": "boolean",
                "default": false,
                "description": "Enable Anonymous Person Profiles::Create <a href='https://posthog.com/docs/getting-started/person-properties' target='_blank' rel='noreferrer noopener'>Person profiles</a> for anonymous users. If disabled, only identified users will have profiles."
              }
            },
            "required": ["key"]
          }
        ],
        "description": "Posthog is an open-source product analytics tool. Jitsu supports both self-hosted Posthog and Posthog Cloud.",
        "title": "Posthog"
      },
      "DestinationAmplitude": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["amplitude"]
              },
              "key": {
                "type": "string",
                "description": "Project API Key::Amplitude Project API Key."
              },
              "enableGroupAnalytics": {
                "type": "boolean",
                "default": false,
                "description": "Build an analysis around aggregated units of measure like accounts, charts, or order IDs. Requires The Amplitude Accounts add-on. <a href='https://help.amplitude.com/hc/en-us/articles/115001765532-Account-level-reporting-in-Amplitude' target='_blank' rel='noreferrer noopener'>Learn more.</a>"
              },
              "groupType": {
                "type": "string",
                "default": "company",
                "description": "Group type is the abstract type of whatever our group represents (e.g. accounts, charts, or order IDs)."
              },
              "enableAnonymousUserProfiles": {
                "type": "boolean",
                "default": false,
                "description": "If enabled, anonymous users will be tracked in Amplitude"
              },
              "dataResidency": {
                "type": "string",
                "enum": ["US", "EU"],
                "default": "US"
              },
              "sessionWindow": {
                "type": "number",
                "default": 30,
                "description": "Session window in minutes"
              },
              "minIdLength": {
                "type": "number",
                "default": 5,
                "description": "Minimum ID Length::Overrides the Amplitude's default minimum ID length of 5 characters."
              }
            },
            "required": ["key"]
          }
        ],
        "description": "Amplitude is a product analytics platform",
        "title": "Amplitude"
      },
      "DestinationStatsig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["statsig"]
              },
              "apiKey": {
                "type": "string",
                "description": "Server Secret Key::Server Secret Key. Server Secret Keys can be created in <a target='_blank' rel='noopener noreferrer' href='https://console.statsig.com/api_keys'>Statsig Console → Project Settings → Keys & Environments</a>."
              },
              "enableAnonymousUserProfiles": {
                "type": "boolean",
                "default": false,
                "description": "If enabled, anonymous users (without userId) will be tracked in Statsig using their anonymousId"
              },
              "sendPageEvents": {
                "type": "boolean",
                "default": true,
                "description": "If enabled, page and screen view events will be sent to Statsig"
              },
              "segmentCompatibility": {
                "type": "boolean",
                "default": false,
                "description": "Segment Compatibility Mode::When enabled, customIDs and custom properties will only be populated from <code>statsigCustomIDs</code> and <code>statsigCustom</code> arrays in event properties or traits, following <a target='_blank' rel='noopener noreferrer' href='https://docs.statsig.com/integrations/data-connectors/segment#manual-configuration'>Segment's integration pattern</a>. Arrays should be in key-value pair format: <code>[\"key1\", \"value1\", \"key2\", \"value2\"]</code>."
              },
              "includeContextInMetadata": {
                "type": "boolean",
                "default": false,
                "description": "Include Context in Metadata::When enabled, event context properties (page, screen, device, etc.) will be included in event metadata."
              },
              "environment": {
                "type": "string",
                "description": "Environment Tier::Statsig environment tier (e.g., production, staging, development). This will be used to segment data by environment in Statsig."
              }
            },
            "required": ["apiKey"]
          }
        ],
        "description": "Statsig is a feature management, experimentation, and product analytics platform",
        "title": "Statsig"
      },
      "DestinationHubspot": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["hubspot"]
              },
              "accessToken": {
                "type": "string",
                "description": "To obtain an access secret, go to <b>Settings » Account Setup » Private Apps</b>, create a new private app copy the <b>Access token</b>. See <a href='https://developers.hubspot.com/docs/api/private-apps'>detailed guide</a>.\nPlease make sure to grant an application all read and write permissions under CRM section"
              },
              "sendPageViewEvents": {
                "type": "boolean",
                "description": "When enabled, Jitsu will send page view events to hubspot (only events with a known email)"
              },
              "autoCreateCustomProperties": {
                "type": "boolean",
                "description": "When enabled, Jitsu will automatically create HubSpot <a href='https://knowledge.hubspot.com/properties/create-and-edit-properties'>custom properties</a> for Contacts and Companies to capture every new trait. Otherwise, only known properties are sent."
              }
            },
            "required": ["accessToken"]
          }
        ],
        "description": "Hubspot is a CRM. Jitsu sends data to Hubspot API and updates contacts and company records",
        "title": "Hubspot"
      },
      "DestinationDevnull": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["devnull"]
              }
            }
          }
        ],
        "description": "This destination does not send any data anywhere. However, you can connect a function to this destination",
        "title": "/dev/null"
      },
      "DestinationSegmentProxy": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["segment-proxy"]
              },
              "apiBase": {
                "type": "string",
                "enum": [
                  "https://api.segmentapis.com/v1",
                  "https://eu1.api.segmentapis.com/v1",
                  "https://api.segment.io/v1"
                ],
                "default": "https://api.segmentapis.com/v1",
                "description": "API Base::Segment API Base"
              },
              "writeKey": {
                "type": "string",
                "description": "To get an API Key you need to add the HTTP API source to your Segment workspace. Write Key can be found on the HTTP API source Overview page."
              }
            },
            "required": ["writeKey"]
          }
        ],
        "description": "Base shape shared by every destination type. Concrete subtypes (DestinationPostgres, DestinationClickhouse, etc.) extend this with type-specific credentials.",
        "title": "Segment"
      },
      "DestinationWebhook": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DestinationConfig"
          },
          {
            "type": "object",
            "properties": {
              "destinationType": {
                "type": "string",
                "enum": ["webhook"]
              },
              "url": {
                "type": "string",
                "format": "uri",
                "description": "Webhook URL"
              },
              "method": {
                "type": "string",
                "enum": ["GET", "POST", "PUT", "DELETE"],
                "default": "POST",
                "description": "HTTP method. Can be <code>GET</code>, <code>POST</code>, <code>PUT</code>, <code>DELETE</code>"
              },
              "headers": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of headers in format <code>key: value</code>"
              },
              "customPayload": {
                "type": "boolean",
                "default": false,
                "description": "Enable custom payload. If disabled, the event payload will be sent as is."
              },
              "payload": {
                "type": "string",
                "description": "Payload Template::Template for the webhook payload. The following macros are supported:<ul><li><code>{{ EVENT }}</code> - event json object for stream mode or batches with size=1</li><li><code>{{ EVENTS }}</code> - for batch mode - json array of events</li><li><code>{{ EVENTS_COUNT }}</code> - count of events in batch</li><li><code>{{ NAME }}</code> - event name</li><li><code>{{ env.VAR_NAME }}</code> - value of VAR_NAME environment variable</li></ul>"
              },
              "signatureMethod": {
                "type": "string",
                "enum": ["none", "hmac", "ed25519"],
                "default": "none",
                "description": "Signature Method::How outgoing requests are signed so your endpoint can verify them.<ul><li><code>none</code> — requests are not signed.</li><li><code>hmac</code> — symmetric HMAC-SHA256 with a shared secret (like Stripe/GitHub). Simple, but anyone who can verify can also forge, so only use it for endpoints you fully trust.</li><li><code>ed25519</code> — asymmetric signature. Jitsu signs with a private key; your endpoint verifies with the public key and cannot forge messages. Prefer this when many or untrusted endpoints receive the webhook.</li></ul><b>Note:</b> signing applies to <b>stream</b>-mode delivery only. In <b>batch</b> mode events are delivered by Bulker and are <b>not</b> signed — use stream mode if you need signed webhooks."
              },
              "signatureSecret": {
                "type": "string",
                "description": "Signing Secret::Shared secret for <code>HMAC-SHA256</code> signing (symmetric — there is no key pair). Put the <b>same</b> value here and in your receiving endpoint. Generate a random one with <code>openssl rand -hex 32</code> (any high-entropy string of 32+ bytes works). To verify a request, your endpoint recomputes the HMAC over the signed payload with this secret and compares the hex digest to the <code>Jitsu-Signature</code> header using a constant-time comparison. Keep it secret."
              },
              "signaturePrivateKey": {
                "type": "string",
                "description": "Private Key (PEM)::Ed25519 private key used to sign requests. Generate a key pair:<br/><code>openssl genpkey -algorithm ed25519 -out jitsu_private.pem</code><br/><code>openssl pkey -in jitsu_private.pem -pubout -out jitsu_public.pem</code><br/>Paste the contents of <code>jitsu_private.pem</code> here and install <code>jitsu_public.pem</code> on your endpoint. To verify a request, your endpoint checks the <code>Jitsu-Signature</code> header (a hex Ed25519 signature) against the signed payload using the public key. Jitsu holds only the private key — keep it secret; the public key is safe to distribute."
              },
              "signatureHeader": {
                "type": "string",
                "pattern": "^[A-Za-z0-9!#$%&'*+.^_`|~-]+$",
                "default": "Jitsu-Signature",
                "description": "Signature Header::Name of the header carrying the signature. Only used when signing is enabled."
              },
              "signatureIncludeTimestamp": {
                "type": "boolean",
                "default": true,
                "description": "Replay Protection::When enabled (recommended), the request timestamp (unix seconds) is folded into the signed payload — the signature covers <code>&lt;timestamp&gt;.&lt;body&gt;</code> — and sent in a companion <code>&lt;Signature Header&gt;-Timestamp</code> header. Your endpoint can then reject requests with an old timestamp to block replays of a captured, still-valid request. When disabled, only the raw body is signed and no timestamp header is sent: simpler to verify, but a captured request stays valid forever. Only used when signing is enabled."
              }
            },
            "required": ["url"]
          }
        ],
        "description": "Send data to any HTTP endpoint. You can use this destination to send data to Slack, Discord, or any other service that accepts HTTP requests. Requests can optionally be signed (HMAC-SHA256 or Ed25519) so your endpoint can verify their authenticity.",
        "title": "Webhook"
      },
      "AnyDestination": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/DestinationTag"
          },
          {
            "$ref": "#/components/schemas/DestinationGa4Tag"
          },
          {
            "$ref": "#/components/schemas/DestinationGtm"
          },
          {
            "$ref": "#/components/schemas/DestinationLogrocket"
          },
          {
            "$ref": "#/components/schemas/DestinationClarity"
          },
          {
            "$ref": "#/components/schemas/DestinationHotjar"
          },
          {
            "$ref": "#/components/schemas/DestinationClickhouse"
          },
          {
            "$ref": "#/components/schemas/DestinationPostgres"
          },
          {
            "$ref": "#/components/schemas/DestinationBigquery"
          },
          {
            "$ref": "#/components/schemas/DestinationSnowflake"
          },
          {
            "$ref": "#/components/schemas/DestinationRedshift"
          },
          {
            "$ref": "#/components/schemas/DestinationDuckdb"
          },
          {
            "$ref": "#/components/schemas/DestinationMysql"
          },
          {
            "$ref": "#/components/schemas/DestinationS3"
          },
          {
            "$ref": "#/components/schemas/DestinationGcs"
          },
          {
            "$ref": "#/components/schemas/DestinationMixpanel"
          },
          {
            "$ref": "#/components/schemas/DestinationIntercom"
          },
          {
            "$ref": "#/components/schemas/DestinationFacebookConversions"
          },
          {
            "$ref": "#/components/schemas/DestinationGoogleAds"
          },
          {
            "$ref": "#/components/schemas/DestinationJune"
          },
          {
            "$ref": "#/components/schemas/DestinationResend"
          },
          {
            "$ref": "#/components/schemas/DestinationSendgrid"
          },
          {
            "$ref": "#/components/schemas/DestinationBraze"
          },
          {
            "$ref": "#/components/schemas/DestinationSalesforce"
          },
          {
            "$ref": "#/components/schemas/DestinationMongodb"
          },
          {
            "$ref": "#/components/schemas/DestinationGa4"
          },
          {
            "$ref": "#/components/schemas/DestinationPosthog"
          },
          {
            "$ref": "#/components/schemas/DestinationAmplitude"
          },
          {
            "$ref": "#/components/schemas/DestinationStatsig"
          },
          {
            "$ref": "#/components/schemas/DestinationHubspot"
          },
          {
            "$ref": "#/components/schemas/DestinationDevnull"
          },
          {
            "$ref": "#/components/schemas/DestinationSegmentProxy"
          },
          {
            "$ref": "#/components/schemas/DestinationWebhook"
          }
        ],
        "discriminator": {
          "propertyName": "destinationType",
          "mapping": {
            "tag": "#/components/schemas/DestinationTag",
            "ga4-tag": "#/components/schemas/DestinationGa4Tag",
            "gtm": "#/components/schemas/DestinationGtm",
            "logrocket": "#/components/schemas/DestinationLogrocket",
            "clarity": "#/components/schemas/DestinationClarity",
            "hotjar": "#/components/schemas/DestinationHotjar",
            "clickhouse": "#/components/schemas/DestinationClickhouse",
            "postgres": "#/components/schemas/DestinationPostgres",
            "bigquery": "#/components/schemas/DestinationBigquery",
            "snowflake": "#/components/schemas/DestinationSnowflake",
            "redshift": "#/components/schemas/DestinationRedshift",
            "duckdb": "#/components/schemas/DestinationDuckdb",
            "mysql": "#/components/schemas/DestinationMysql",
[...]
